{% load staticfiles %}

<html>
    <body>
        <h1 align="center"> Online Music Store</h1>
        <table align="center">
            <tr>
                <th><a href="\show\"><img height="200" width="200" src="{% static 'images\Angrybird1.jpg'%}"></a></th>
            </tr>
            <tr>
                <th> <a href="\show\">Anand Shinde Songs</a></th>
            </tr>
            <tr>
                <th><a href="\sec\"><img height="200" width="200" src="{% static 'images\image2.jpg'%}"></a></th>
            </tr>
            <tr>
                <th> <a href="\sec\">Ajay-Atul Songs</a></th>
            </tr>
            <tr>
                <th><a href="\third\"><img height="200" width="200" src="{% static 'images\image3.jpg'%}"></a></th>
            </tr>
            <tr>
                <th> <a href="\third\">Vishal-Shekhar Songs</a></th>
            </tr>
        </table>
    </body>
</html>