{% load staticfiles %}
<html>
    <body>
        <table>
            <tr><th><audio controls src="{% static 'audio/audio4.mp3' %}"></audio></th></tr>
            <tr><th>Nach re Mora (sahlini)</th></tr>
            <tr><th><audio controls src="{% static 'audio/audio5.mp3' %}"></audio></th></tr>
            <tr><th>Jab Tak Hai Jaan(jab We met)</th></tr>
            <tr><th><audio controls src="{% static 'audio/audio6.mp3' %}"></audio></th></tr>
            <tr><th>AAnkh MAre o Ladka (Sharyat)</th></tr>

        </table>
    </body>
</html>