
{% load staticfiles %}
<html>
    <body>
        <table>
            <tr><th><audio controls src="{% static 'audio/audio1.mp3' %}"></audio></th></tr>
            <tr><th>AAo Sunao Pyar ki 1 Kahani(Krish)</th></tr>
            <tr><th><audio controls src="{% static 'audio/audio2.mp3' %}"></audio></th></tr>
            <tr><th>Dj Akanksha & Dj Sahil(jab We met)</th></tr>
            <tr><th><audio controls src="{% static 'audio/audio3.mp3' %}"></audio></th></tr>
            <tr><th>Awaj Vadhav tula AAichi sahpat hai(DolbiWalya)</th></tr>

        </table>
    </body>
</html>