{% load staticfiles %}
<html>
    <body>
        <table>
            <tr><th><audio controls src="{% static 'audio/audio7.mp3' %}"></audio></th></tr>
            <tr><th>Tara Rum Pum Tara Rum Pum(Dilwale)</th></tr>
            <tr><th><audio controls src="{% static 'audio/audio8.mp3' %}"></audio></th></tr>
            <tr><th> Bhiga Hai Badan Tera (Salute)</th></tr>
            <tr><th><audio controls src="{% static 'audio/audio9.mp3' %}"></audio></th></tr>
            <tr><th>Zing Zing Zingaat(Sairat)</th></tr>

        </table>
    </body>
</html>