<html>
<head>
    <title>CURD Operation</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style>
    .jumbotron{
        margin: 30px 200px;
        background-color: antiquewhite;
    }
    a{
        margin-left: 80px;
        border: 2px black solid;
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 10px;
        text-align: center;
        background-color: cyan;
    }
    body{
        background-color: darkturquoise;
    }
</style>
<body>
<div class="jumbotron">
    <a class="text-black" href="/insert/">Create Blog</a>
    <a class="text-black" href="/update/">Edit Blog</a>

    <a class="text-black" href="/retrive/">View All</a>

    <a class="text-black" href="/delete/">Delete Blog</a>
</div>
<center><a href="/logout/">Logout</a></center>
</body>
</html>
