<html>
<head>
    <title>Insert Data</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <form method="POST">
                <h2 class="text-center">Please Write Your Blogs Here.</h2>
                {% csrf_token %}
                <h6 class="text-center">{{ msg }}</h6>
                {{ iform }}<br>
                <center>
                    <input type="submit" value="insert" class="btn btn-success">
                    <input type="reset" value="clear" class="btn btn-danger">
                    <a href="/index/">Back</a>
                </center>
            </form>
        </div>
    </div>
</div>
</body>
</html>
